/* 公共css */
.width-full{
	width: 100%;
}
.width-half{
	width: 50%;
}
.width-33{
	width: 33.3%;
}
.inline-block{
	display: inline-block;
}
.nowrap{
	white-space: nowrap;
}

/* ==================
          头像
 ==================== */
 .cu-avatar.df {
 	width: 72upx;
 	height: 72upx;
 	font-size: 1.5em;
 }
 
 /* ==================
           右边垂直居中fixed
  ==================== */
 .fixed-right-center{
	position: fixed;
	top: 40%;
	right: 30upx;
 }